**/02-o-que-e-controle-de-verao-de-codigo.pdf
**/03-o-ciclo-de-vida-dos-status-de-arquivos-no-git.pdf
**/03-o-que-e-git.pdf
**/07-github-workflow.pdf
**/Geek+University+Aprenda+Git+e+Github\357\200\242+Essencial.png"
**/Git Merge e Git Rebase- quando us\303\241-los- - Blog TreinaWeb.url"
**/Git-2.34.1-64-bit.exe
**/Git/
**/aula04/
**/clone02/
**/felicityBR.github.io-master.zip
**/geek-git1/